<!DOCTYPE html>
<html ng-app="main">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div ng-controller="controller">
        <button id="top" ng-click="scrollTo('bottom')">Go to bottom of page</button>
        <div style="border:1px solid #ccc;width:100px;margin:50px 0">
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
            Duong Than<br />
        </div>
        <button id="bottom" ng-click="scrollTo('top')">Go to top of page</button>
    </div>
</body>
</html>
